/* 
form {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  text-align: center;
}

.registro {
  text-align: center;
  font-size: 100px;
  margin-bottom: 216px;
}

 p {
  text-align: center;

}

.boton{
  margin-bottom: 200px;
}

.profile{
text-align: center;
font-size: 100px;
margin-bottom: 259px;

} 

 
 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;

}

 */

 * {
  margin: 0;
  padding: 0;
}

Body
{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

Nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #3e3f3e;
}

.boton1:hover {
  border: 1px solid #ffffff;
  background-color: black;
  border-radius: 5px;
  text-decoration: none;
}

.titulo{
  font-size: 20px;
  color: white;
  padding-right: 25px;
}

.boton1{
  text-decoration: none;
  padding-right: 5px;
  font-size: 18px;  
}

.boton2{
  border: 2px solid #0000ff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  padding-right: 5px;
  padding-left: 5px;
}

.boton2:hover {
  background-color: #000000;
}

.boton3{
  border: 1px solid;
  padding: 5px;
  background-color:  #3e3f3e;
  border-radius: 5px;
  text-decoration: none;
}

Form, h3, input, label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(54, 54, 54, 0.5)), url(/src/assets/img/headerpizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  color: white;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home {
  background-color: #3e3f3e;
}

Footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px 0 5px 0;
}

Footer h6{
  font-size: 14px;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.PizzaCart{
  width: 600px;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  margin: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.PizzaCart img{
  width: 100px;
  border-radius: 3px;
  margin: 5px;
}

.Cart-Botones {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.Card-Container{
  text-align: center;
}

th, td{
  font-size: 14px;
  width: 25%;
}

.Card-Container Table {
  width: 600px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Card-Container Button{ 
  font-size: 14px;
}

.active {
  border: 1px solid white;
  border-radius: 5px;
  color: #000000;
  background-color: #b4b4b4;
  text-decoration: none;
  margin: 3px;
  padding: 2px;
  }
  
.NoActive {
  border: 1px solid white;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  margin: 3px;
  padding: 2px;
  }
